<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  </head>
  <body>
      <input
      #title
      (keyup.enter)="createPost(title)"  
      type="text" class="form-control"
      placeholder="Enter your text here">
      
    <ul class="list-group">  
      <li *ngFor="let post of posts; index as i"  class="list-group-item">  
        
        <button (click)="updatePost(post)"  class="btn btn-primary btn-sm">Update</button> 
        
        {{post.id}} {{ post.title }}  
      
        <button (click)="deletePost(post)"  class="btn btn-danger btn-sm float-right">Delete</button> 
      </li>  
    </ul> 
  </body>
</html>
 